@import "web";

@-webkit-keyframes wiki-home-noresult-show { 0% { opacity: 0; margin-top: 6rem; } 100% { opacity: 1; margin-top: -4rem; } }
@-moz-keyframes wiki-home-noresult-show { 0% { opacity: 0; margin-top: 6rem; } 100% { opacity: 1; margin-top: -4rem; } }
@-ms-keyframes wiki-home-noresult-show { 0% { opacity: 0; margin-top: 6rem; } 100% { opacity: 1; margin-top: -4rem; } }
@-o-keyframes wiki-home-noresult-show { 0% { opacity: 0; margin-top: 6rem; } 100% { opacity: 1; margin-top: -4rem; } }
@keyframes wiki-home-noresult-show { 0% { opacity: 0; margin-top: 6rem; } 100% { opacity: 1; margin-top: -4rem; } }


.wiki-home {
  .wiki-home-noresult {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    .transform(translateY(-50%));
    padding: 6rem 2rem 2rem;
    text-align: center;
    margin-top: -4rem;
    .animation(wiki-home-noresult-show 0.55s);

    img {
      background: @accentColor;
      width: 214px;
      max-width: 90%;
      margin-bottom: 2rem;
    }

    h1 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }

    p {
      max-width: 450px;
      margin: 0 auto;
    }

    a, a:hover, a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

}
